In [2]:
import pandas as pd

# create initial dataframe
race_df = pd.read_csv('heat-results.csv')

print(race_df.shape)

(234, 10)

In [3]:
print(race_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 10 columns):
heat          234 non-null int64
lane          234 non-null int64
last_name     234 non-null object
first_name    234 non-null object
group         234 non-null object
car_id        234 non-null int64
car_name      234 non-null object
time          234 non-null float64
place         234 non-null int64
speed         234 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 18.4+ KB
None

In [4]:
print(race_df.describe())

             heat        lane      car_id        time       place       speed
count  234.000000  234.000000  234.000000  234.000000  234.000000  234.000000
mean     5.230769    3.500000   23.230769    4.121041    3.397436  208.389829
std      3.379780    1.711486   12.486824    0.912051    1.688180   27.353797
min      1.000000    1.000000    2.000000    3.573800    1.000000   83.520000
25%      3.000000    2.000000   12.000000    3.707575    2.000000  196.420000
50%      5.000000    3.500000   24.000000    3.804100    3.000000  219.560000
75%      7.000000    5.000000   34.000000    4.252325    5.000000  225.275000
max     14.000000    6.000000   44.000000    9.999900    6.000000  233.710000

In [5]:
print(race_df.head())

   heat  lane  last_name first_name           group  car_id     car_name  \
0     1     1   Akrabian    Matthew  Arrow of Light      37  Lamborghini
1     1     2   Elsesser      Mikey  Arrow of Light      40     SS Mikey
2     1     3    Marquez     Justin  Arrow of Light      42    Gold Mine
3     1     4     Silsby     Landon  Arrow of Light      44     Red Fury
4     1     5  De Ruyter      Aaron  Arrow of Light      38   Black Fire

     time  place   speed
0  3.6254      1  230.38
1  4.6662      6  179.00
2  3.6834      3  226.75
3  3.7199      4  224.53
4  3.6790      2  227.03

In [6]:
race_df.loc[race_df['last_name'] == "Colinsky"]

,heat,lane,last_name,first_name,group,car_id,car_name,time,place,speed
52,2,5,Colinsky,Cooper,Bear,27,Silver Bullet,3.8357,3,217.75
57,3,4,Colinsky,Cooper,Bear,27,Silver Bullet,3.8064,3,219.43
67,5,2,Colinsky,Cooper,Bear,27,Silver Bullet,3.8460,5,217.17
84,8,1,Colinsky,Cooper,Bear,27,Silver Bullet,3.8565,5,216.58
104,11,3,Colinsky,Cooper,Bear,27,Silver Bullet,3.8429,3,217.34
113,12,6,Colinsky,Cooper,Bear,27,Silver Bullet,3.8930,4,214.55

In [7]:
race_df.loc[race_df['last_name'] == "Colinsky"].describe()

            heat      lane  car_id      time     place       speed
count   6.000000  6.000000     6.0  6.000000  6.000000    6.000000
mean    6.833333  3.500000    27.0  3.846750  3.833333  217.136667
std     4.167333  1.870829     0.0  0.028283  0.983192    1.592403
min     2.000000  1.000000    27.0  3.806400  3.000000  214.550000
25%     3.500000  2.250000    27.0  3.837500  3.000000  216.727500
50%     6.500000  3.500000    27.0  3.844450  3.500000  217.255000
75%    10.250000  4.750000    27.0  3.853875  4.750000  217.647500
max    12.000000  6.000000    27.0  3.893000  5.000000  219.430000

In [8]:
lanes_df = race_df[["lane", "car_id", "time", "place", "speed"]]
print(lanes_df.describe())

             lane      car_id        time       place       speed
count  234.000000  234.000000  234.000000  234.000000  234.000000
mean     3.500000   23.230769    4.121041    3.397436  208.389829
std      1.711486   12.486824    0.912051    1.688180   27.353797
min      1.000000    2.000000    3.573800    1.000000   83.520000
25%      2.000000   12.000000    3.707575    2.000000  196.420000
50%      3.500000   24.000000    3.804100    3.000000  219.560000
75%      5.000000   34.000000    4.252325    5.000000  225.275000
max      6.000000   44.000000    9.999900    6.000000  233.710000

In [9]:
print(lanes_df.head(10))

   lane  car_id    time  place   speed
0     1      37  3.6254      1  230.38
1     2      40  4.6662      6  179.00
2     3      42  3.6834      3  226.75
3     4      44  3.7199      4  224.53
4     5      38  3.6790      2  227.03
5     6      41  3.7963      5  220.01
6     1      38  3.6171      1  230.91
7     2      41  3.7562      5  222.36
8     3      43  3.6248      2  230.42
9     4      37  3.6362      3  229.70

In [10]:
print(lanes_df.tail(10))

     lane  car_id    time  place   speed
224     3      12  4.4073      3  189.51
225     4      11  7.9716      4  104.78
226     2      14  3.6264      1  230.32
227     3      13  4.3508      2  191.97
228     4      12  4.4751      3  186.64
229     5      11  7.5197      4  111.07
230     3      14  3.6288      1  230.17
231     4      13  4.4979      3  185.69
232     5      12  4.4093      2  189.42
233     6      11  7.9874      4  104.57

In [11]:
# which car had the fatest time?
lanes_df.loc[lanes_df["time"].idxmin()]

lane        1.0000
car_id     31.0000
time        3.5738
place       1.0000
speed     233.7100
Name: 174, dtype: float64

In [12]:
# who had the lowest combined time?

# get a specific racers combined time
print(lanes_df.loc[lanes_df['car_id'] == 27, 'time'].sum())
print(race_df.loc[race_df['last_name'] == "Colinsky", "time"].sum())

23.0805
23.0805

In [13]:
# get all racers combined times
def tally(values):
    return values.sum()-values.max()

adjustedCombined_df = lanes_df.groupby(['car_id'])['time'].apply(tally)
sorted_df = adjustedCombined_df.sort_values()
print(sorted_df.head())

print(sorted_df.idxmin())
print(sorted_df.min())

car_id
31    18.0255
14    18.0865
36    18.1185
43    18.1311
37    18.1867
Name: time, dtype: float64
31
18.025499999999997

In [14]:
# what is the fatest lane
import matplotlib.pyplot as plt
pd.set_option('mode.chained_assignment', None)

# remove outlier racer
times_df = race_df[race_df.car_id != 11]

# fix single outlier time for a racer
print(print("original racer series"))
print(times_df.loc[(times_df.car_id==40)]['time'], end='\n\n')
rowToFix = times_df.loc[times_df.car_id==40]['time'].idxmax()
goodRows = pd.DataFrame(times_df.loc[times_df.car_id==40]).drop(rowToFix)
newVal = goodRows['time'].sum()/len(goodRows['time'])
times_df['time'][rowToFix] = newVal
print("corrected racer series\n" + str(times_df.loc[(times_df.car_id==40)]['time']), end='\n\n')

original racer series
None
1     4.6662
10    4.2368
12    7.8335
21    4.1919
32    4.2575
41    4.5941
Name: time, dtype: float64

corrected racer series
1     4.6662
10    4.2368
12    4.3893
21    4.1919
32    4.2575
41    4.5941
Name: time, dtype: float64

In [20]:
# get just the lanes and tims
times_df = times_df[['lane','time']]

lanes = pd.DataFrame()
# plot distribution of times per lane
#for l in range(7):
#    if l == 0:
#        continue
#    else:
#        lane = times_df[times_df.lane == l].reset_index().drop(['index','lane'], axis=1)
#        column = 'lane' + str(l)
#        lane.columns = [column]
#        lanes[column] = lane

#print(lanes, end='\n\n')
#print(lanes.describe(), end='\n\n')

# cumulative totals per lane
#fastlane_df = lanes_df.groupby(['lane'])['time'].sum().sort_values()
#print(fastlane_df)

In [16]:
#lanes.plot(kind='hist', subplots=True, bins=50, range=(3.5,6), figsize=(10,16))
#plt.show()

In [18]:
#lanes.plot(kind='box', subplots=True, figsize=(16,6))
#plt.show()